// MQ
@import '../../src/styles/tools/mq';
@import '../../src/styles/settings/mq';

.c-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  overflow: hidden;

  .c-headline__title {
    margin: 0 0 0.25rem;
  }

  &:not(.is-style-center) {
    .c-headline__title {
      &:only-child {
        &::before {
          content: "";
          position: absolute;
          bottom: 0.375rem;
          left: 100%;
          width: 100vw;
          margin-left: 1rem;
          border-bottom: 1px dashed currentColor;
        }
      }
    }
  }

  &.is-style-center {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include mq(lg) {
      margin-bottom: 3.5rem;
    }

    .c-headline__title {
      margin: 0 auto 0.25rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100vw;
        transform: translateY(-50%);
        border-bottom: 1px dashed currentColor;
      }

      &::before {
        right: 100%;
        margin-right: 0.5rem;
      }

      &::after {
        left: 100%;
        margin-left: 0.5rem;
      }

      @include mq(md) {
        &::before {
          margin-right: 1.5rem;
        }

        &::after {
          margin-left: 1.5rem;
        }
      }
    }

    .c-headline__group {
      max-width: 42.5rem;
      margin: 0 auto;
      border: none;
    }

    .c-headline__subtitle {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @include mq(lg) {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    .c-headline__description {
      margin-bottom: 0;
      font-size: var(--wp--preset--font-size--body-1);
    }
  }

  &.is-style-small {
    margin-bottom: 0.5rem;
  }

  @include mq(lg) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.5em;

    .c-headline__title {
      margin: 0 1rem 0 0;
    }
  }
}

.c-headline__title {
  margin: 0;
  flex-shrink: 0;
  position: relative;

  &:only-child {
    margin: 0;
  }
}

.c-headline__group {
  width: 100%;
  flex-grow: 1;
  align-self: flex-end;
  border-bottom: 1px dashed currentColor;

  mark {
    border-bottom: 1px dashed #1D1D1B;
  }

  @include mq(lg) {
    margin-bottom: 0.375rem;
  }
}

.c-headline__subtitle {
  margin: 0 0 0.25rem;
  font-weight: 600;
  font-size: var(--wp--preset--font-size--body-1);
  line-height: 1.4;
}

.c-headline__description {
  margin: 0 0 0.5rem;
  font-size: var(--wp--preset--font-size--body-2);
  line-height: 1.2;
}
